{% extends 'base.html.twig' %}

{% block title %}Miellerie du chateau
{% endblock %}

{% block body %}
	
	<div id="home-header">
		<div id="home-head">
			<h1>Bienvenue à la
				<br>
				miellerie du chateau
				<br>
				de l'herbaudiere
				<br>
			</h1>
		</div>
		<div id="section-pres">
			<p>
				Tous proposons une large gamme de miel français,
				<br>
				produits par nos soins.
				<br>
				Miel crémeux, liquides, forts, doux,
				<br>
				vous trouverez forcément un miel à votre goût.
				<br>
			</p>

		</div>
	</div>
	<div id="categories-card-container">
		{% for category in categories %}
			{% if category.parent is null %}
				<div id="categories-card">
					<div id="categories-card-content">
						<img src="{{ asset('/images/miel.jpg') }}"/>
						<h2>{{ category.name }}</h2>
						<p>Lorem ipsum dolor sit amet consectetur,
							<br>
							adipisicing elit. Porro aliquam,
							<br>
							molestiae eius sed architecto labore aspernatur debitis ipsum.
							<br>
							Quis magnam praesentium quae exercitationem accusantium optio
							<br>
							corporis repellat consequatur doloremque numquam?
						</p>
						<button>
							<a href="{{ path('app_products_app_index') }}">Nos produits</a>
						</button>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
