{% extends 'base.html.twig' %}

{% block title %}Details de {{ product.name }} {% endblock %}

{% block body %}

<div id="product-details-container">
    <h2>
        Details de {{ product.name }} 
    </h2>
    
</div>
{% endblock %}