{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!
{% endblock %}

{% block body %}

	<div id="product-container">
		<h2>
			Liste des produits
		</h2>
		<div id="products-card-container">
			{{ dump() }}
		</div>
	</div>
{% endblock %}
